/*
 * Wallet Service API
 *
 * Api para exponer la funcionalidad de wallet service. 
 *
 * OpenAPI spec version: 0.1.0
 * Contact: edilberto_diaz14@hotmail.com
 * Generated by: https://github.com/swagger-api/swagger-codegen.git
 */

using System.ComponentModel.DataAnnotations;
using System.Threading.Tasks;
using Microsoft.AspNetCore.Mvc;
using Swashbuckle.AspNetCore.Annotations;
using Wallet.RestAPI.Attributes;
using Wallet.RestAPI.Controllers.Base;
using Wallet.RestAPI.Models;

namespace Wallet.RestAPI.Controllers
{ 
    /// <summary>
    /// 
    /// </summary>
    [ApiController]
    public abstract class BitacoraTransaccionApiControlleBase : ServiceBaseController
    { 
        /// <summary>
        /// Obtiene los detalles de pago de servicio por transacción
        /// </summary>
        /// <remarks>Obtiene los detalles de pago de servicio por transacción</remarks>
        /// <param name="version">Version of the API to use</param>
        /// <param name="idTransaccion">Id de la transaccion</param>
        /// <response code="200">OK</response>
        /// <response code="400">Response to client error satus code</response>
        /// <response code="401">Response to client error satus code</response>
        /// <response code="404">Response to client error satus code</response>
        [HttpGet]
        [Route("/{version:apiVersion}/transacciones/{idTransaccion}/PagoServicioDetalles")]
        [ValidateModelState]
        [SwaggerOperation("GetDetallesPorTransaccion")]
        [SwaggerResponse(statusCode: 200, type: typeof(DetallesPagoServicioResult), description: "OK")]
        [SwaggerResponse(statusCode: 400, type: typeof(InlineResponse400), description: "Response to client error satus code")]
        [SwaggerResponse(statusCode: 401, type: typeof(InlineResponse400), description: "Response to client error satus code")]
        [SwaggerResponse(statusCode: 404, type: typeof(InlineResponse400), description: "Response to client error satus code")]
        public abstract Task<IActionResult> GetDetallesPorTransaccionAsync([FromRoute][Required][RegularExpression("^(?<major>[0-9]+).(?<minor>[0-9]+)$")]string version, [FromRoute][Required]int? idTransaccion);
    }
}
